

body{
    // font-size: 16px;
    font-family: $font-family;
	font-weight: 400;
	color: $color-grey-dark;
}

.heading-secondary{
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	transition: all .2s;

	@include respond(phone) {
		font-size: 2.5rem;
	}
}
.heading--primary{
	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}

.heading--white{
	background-color: #fff;
}

.heading-tertiary{
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}
.paragraph{
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
