.card{
	background-color: $color-grey-light-1;
	perspective: 150rem;
	position: relative;
	border: none;
	height: 52rem;

	@include respond(laptop) {
		margin-bottom: 4rem;
	}

	&__side{
		height: 52rem;
		transition: all .5s;
		position: absolute;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 1rem;
		overflow: hidden;


		&--front{
			background-color: $color-white;
		}

		&--back{
			transform: rotateY(180deg);

			&-1{
				background-image: linear-gradient(to right bottom, 
								$color-secondary-light, $color-secondary-dark);
			}
			&-2{
				background-image: linear-gradient(to right bottom, 
								$color-primary-light, $color-primary-dark);
			}
			&-3{
				background-image: linear-gradient(to right bottom, 
								$color-tertiary-light, $color-tertiary-dark);
			}
		}
	}
	&:hover &__side{
		transform: rotateY(180deg);

		&--back{
			transform: rotateY(0);
		}
	}

	&__picture{
		background-blend-mode: screen;
		background-size: cover;
		height: 23rem;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

		&--1{
			background-image: url(../img/pricing/pricing1.png);
		}
		&--2{
			background-image: url(../img/pricing/pricing3.png);
		}
		&--3{
			background-image: url(../img/pricing/pricing2.png);
		}
	}

	&__heading{
		position: absolute;
		font-weight: 400;
		top: 2rem;
		left: 0rem;
		font-size: 2rem;
		text-transform: capitalize;
		color: #fff;

		&-span{
			padding: .5rem 1rem;

			&--1{
				background-image: linear-gradient(rgba($color-tertiary-light, .8), rgba($color-tertiary-dark, .8));
			}
			&--2{
				background-image: linear-gradient(rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
			}
			&--3{
				background-image: linear-gradient(rgba($color-tertiary-light, .8), rgba($color-tertiary-dark, .8));
			}
		}
	}

	&__details{
		 width: 80%;
		 margin: 0 auto;
		 text-align: center;
		 font-size: 1.8rem;

		ul{
			list-style: none;

			li{
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-2;
				}
			}
		}
	}

	&__cta{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

	}
	&__price-box{
		color: $color-white;
		margin-bottom: 10rem;
		text-align: center;

	}
	&__price-only{
		font-size: 3rem;
		font-weight: 300;
	}
	&__price-value{
		font-size: 4rem;
		font-weight: 300;
	}
	
}
#section-tours .col-md-12:nth-child(3) .card {
    margin-bottom: 0;
}