$color-primary: #38b5fd;
$color-primary-light: #38b5fd;
$color-primary-dark: #4a2ace;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #64676f;


$font-family: 'Fira Sans', sans-serif;

// linear-gradient(to right,#a733bb 0%,#7d4ac7 100%)